<!-- <div class="main">
  <div class="left-main">
    <mat-form-field>
      <mat-label>Тема</mat-label>
      <input matInput [(ngModel)]="inputText">
    </mat-form-field>
    <mat-form-field>
      <mat-label>День недели</mat-label>
      <mat-select [(value)]="selectedValue">
        <mat-option value="Понедельник">Понедельник</mat-option>
        <mat-option value="Вторник">Вторник</mat-option>
        <mat-option value="Среда">Среда</mat-option>
        <mat-option value="Четверг">Четверг</mat-option>
        <mat-option value="Пятница">Пятница</mat-option>
        <mat-option value="Суббота">Суббота</mat-option>
        <mat-option value="Воскресенье">Воскресенье</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Текст</mat-label>
      <textarea matInput [(ngModel)]="inputTextarear"></textarea>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="checked">Продуктивный </mat-checkbox>
    <mat-checkbox [(ngModel)]="indeterminate">Не продуктивный </mat-checkbox>
    <button mat-raised-button (click)="onButtonClick()">Text area</button>
  </div>

  <div class="right-main">
    <span class="right-list" *ngFor="let todo of todoList; let i = index">
      <div class="right-list-todo">
        <p>{{ todo }}</p>
        <p>{{ todoListValue }}</p>
        <p>{{ todoListTextarear }}</p>
      </div>


      <mat-checkbox [(ngModel)]="checked" [(indeterminate)]="indeterminate"></mat-checkbox>
    </span>
  </div>
 -->




<form class="form" #form="ngForm" (submit)="onSubmitHandler(form.value)">
  <mat-form-field class="input-field">
    <mat-label>Title</mat-label>
    <input name="title" matInput ngModel placeholder="Title" value="" class="input" />
    <mat-label>Description</mat-label>
    <input name="description" matInput ngModel placeholder="Title" value="" class="input" />
  </mat-form-field>

  <mat-select name="formselect" ngModel value="Выбери">
    <mat-option value="Понедельник">Понедельник</mat-option>
    <mat-option value="Вторник">Вторник</mat-option>
    <mat-option value="Среда">Среда</mat-option>
    <mat-option value="Четверг">Четверг</mat-option>
    <mat-option value="Пятница">Пятница</mat-option>
    <mat-option value="Суббота">Суббота</mat-option>
    <mat-option value="Воскресенье">Воскресенье</mat-option>
  </mat-select>



  <mat-checkbox name="checked" ngModel>Продуктивный </mat-checkbox>

  <button mat-raised-button color="warn">Add</button>

</form>