:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}




body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.board {
  border: 2px solid #333;
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  position: relative;
}

.board div {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  position: relative;
}

.sahmatdown {
  border: 2px solid #333;
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(2, 50px);
  position: relative;
  margin-top: 20px;
}

.sahmatdown div {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  position: relative;
}

.sahmatup {
  border: 2px solid #333;
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(2, 50px);
  position: relative;
  margin-bottom: 20px;
}

.sahmatup div {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  position: relative;
}

.polebukvi {
  border: 2px solid #333;
  display: grid;
  grid-template-columns: repeat(8, 50px);
  position: relative;
}

.polebukvi div {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  position: relative;
}

.white {
  background-color: aliceblue;
  color: red;
}

.black {
  background-color: darkmagenta;
  color: black;
}

.piece {
  width: 100%;
  height: 100%;
  cursor: pointer;
  user-select: none;
  position: absolute;
  z-index: 1;
  background-color: inherit;
}


#app {
  display: flex;
}

.numberssboku {
  border: 2px solid #333;
  display: grid;
  grid-template-columns: repeat(1, 50px);
  position: relative;
  height: 402px;
  top: 124px;
}

.numberssboku span {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  position: relative;
}