.main-text {
    font-size: 50px;
    text-align: center;
}

.modalWindow-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-post-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.removeBTN {
    margin-left: 50px;
}

.newBTNPost {
    margin-top: 15px;
}

.addBTNPost {
    margin-top: 30px;
}

.newInput {
    width: 300px;
}