<div class="main-post-block">
    <!-- <p class="main-text">PostWorks</p>
    <p class="main-text">PostWorks</p> -->
    <button (click)="toggler = !toggler">New Post</button>

    <section *ngIf="toggler" class="modalWindow-block">
        <p>Введите Текст</p>
        <input [(ngModel)]="newTodo" type="text" placeholder="Введите текст поста">
        <button (click)="addTodo()">Добавить пост</button>
    </section>


    <div *ngFor="let todo of todoList; let i = index">
        {{ todo }}
        <button (click)="removeTodo(i)" class="removeBTN">Remove</button>
    </div>

</div>