<div class="main-post-block">

    <button (click)="toggler = !toggler" class="newBTNPost">New Post</button>

    <section *ngIf="toggler" class="modalWindow-block">
        <input [(ngModel)]="newTodo" type="text" placeholder="Введите текст поста" class="newInput">
        <button (click)="addTodo()" class="addBTNPost">Добавить пост</button>
    </section>


    <div class="newTEXTPost" *ngFor="let todo of todoList; let i = index">
        {{ todo }}
        <button (click)="removeTodo(i)" class="removeBTN">Remove</button>
    </div>

</div>