<div>
  <button (click)="toggler = !toggler">Add Task</button>
  <button (click)="togglers = !togglers">Add Tasks</button>
</div>

<section *ngIf="toggler" class="modalWindow-block">
  <input [(ngModel)]="newTodo" type="text" placeholder="Введите task">
  <button (click)="addTodo()">Add task</button>
  <button *ngIf="togglerExit" (click)="toggler = !toggler">закрыть окно</button>
</section>



<section *ngIf="togglers" class="modalWindow-block">
  <input [(ngModel)]="newTodo" type="text" placeholder="Введите task">
  <button (click)="addTodo()">Add task</button>
  <button *ngIf="togglerExit" (click)="togglers = !togglers">закрыть окно</button>
</section>




<div *ngFor="let todo of todoList; let i = index">
  {{ todo }}
  <p>
    ID = {{i}}
  </p>
  <p>Current date: {{ currentDate }}</p>

  <button (click)="removeTodo(i)">Remove</button>
</div>