.main-text {
    font-size: 50px;
    text-align: center;
}

.modalWindow-block {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    background-color: blueviolet;
}

.main-post-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.removeBTN {
    float: right
}

.newBTNPost {
    margin-top: 15px;
    position: absolute;
    top: 2%;
    left: 50%;
}

.addBTNPost {
    margin-top: 30px;
}

.newInput {
    width: 300px;
}

.newTEXTPost {
    z-index: 1;
    margin-top: 50px;
    border: 1px solid;
    width: 90%;
}