.modalWindow-block {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  background-color: blueviolet;
}

.loginBTN {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

.mainPerson {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.mainBTN {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.mainNameImg {
  display: flex;
  width: 400px;
  justify-content: space-around;
}

.chatMassahes {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: aliceblue;

}

.chat-messages {
  margin-bottom: 30px;
  background-color: rgb(230, 230, 98);
}

.textareamessages {
  background-color: antiquewhite;
}

.privatemessages {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}