.modalWindow-block {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    background-color: blueviolet;
}

.loginBTN {
    width: 200px;
}